body{
    font-family: Arial;
}
h1{
    color:darkblue;
}
h2{
    color:darkblue;
}
h3{
    color:darkblue;
}
p{
    color:purple;
    font-size: 20px;
}
.alert-error{
    color:red;
}
.alert-success{
    color:green;
}